// reset headers to act like normal lines
@mixin header-reset {
    line-height: 1;
    margin: 0;
}

@mixin heading($map) {
    // apply the font sizes to the heading elements
    // // @todo add an optional flag to create actual header elements
    // @for $i from 1 through 6 {
    //     h#{$i} {
    //         font-size: map-get($map, h#{$i});
    //         @include header-reset;
    //     }
    // }
    // provides heading extensions so qualified elements
    // can assume header styles without sacrificing semantics
    @for $i from 1 through 6 {
        %h#{$i} {
            font-size: map-get($map, h#{$i});
            @include header-reset;
        }
    }
}

// mobile first
@include heading($mobile-headers);
//@include heading($mobile-desktop);
