 @for $i from 1 through 5 {
	.background-color--#{map-get($numberToDescription, $i)} {
		background-color: map-get($colors, map-get($numberToDescription, $i));
	}
	
	.background-grayscale--#{map-get($numberToDescription, $i)} {
		background-color: map-get($grayscale, map-get($numberToDescription, $i));
	}
}

.background-color--white {
	background-color: #fff;
}

.background--none {
	background: 0;
}

.background--full-screen--cover {
    background-size: cover;
    background-position: center center;
}

.background--full-screen--contain {
	
}