.border--none {
	border: 0;
}

.border-bottom--none {
	border-bottom: 0;
}

.border-top--none {
	border-top: 0;
}

.border-left--none {
	border-left: 0;
}

.border-right--none {
	border-right: 0;
}

.border {
	border: $border;
}

.border-bottom {
	border-bottom: $border;
}

.border-top {
	border-top: $border;
}

.border-left {
	border-left: $border;
}

.border-right {
	border-right: $border;
}

@mixin border-indicator($status, $position:bottom, $height: 2px) {
	border-#{$position}: $height solid map-get($status-colors, $status);
}

@each $indicator, $color in $status-colors {
	%#{$indicator}-indicator {
		@include border-indicator($indicator);
	}
}